
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        
    </style>
    <title>Document</title>
</head>
<body>
    <h1>صفحه امتیاز دهی</h1>
    <h1>{{content.id}}</h1>
    <h1>{{content.title}}</h1>
    <h3>{{content.text}}</h3>
    <h3>{{content.score}}</h3>

    <form action="/update_score" method="post">
        <input id="" type="hidden" value={{content.id}}>
        <input id="score" type="number" value="{{ current_name }}">
        <input type="submit" value="به روز رسانی">
    </form>
</body>
</html>